body {
    color: white;
    background:
    margin:0px;
    font-family: "chakra Petch",sans-serif;
    margin-bottom: 100px;
}

header{

    border-bottom:  solid 2px rgb(247, 231,85);
    padding: 2px; 
font-size: 60px;
color: red; (253,0,0);
font-familly "Anton",sans-serif;
letter-spacing: 2px;


section{
    background-color: pink;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
    color: rgb(65,65,75);
    font-family:  "Bitcount Single",sans-serif
} 

.chamada-texto {
    margin-right: 5%; 
}

h1 {
    font: 30px;
}
        
p{
    font-size: 20px;
}

img {
    height: 200px;
}

section{
padding-left: 20px;
padding-right: 20px;
}

.chamada {
    background-color: rgb(0, 0, 0);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}

.categoria h2{
    color: rgb(247, 247, 247);
    text-align: center;
    font-size: 32px;
    margin-bottom: auto;
}

.categoria-videos{
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria-videos img{
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover{
    opacity: 1.0px;
    border: 1px solid green;
}


